body{
    background-color: #2F3C7E;
    padding: 1vh;
}
.container-fluid{
    background-color: #FBEAEB;
}

.operators{
    background-color: #EA738DFF;
}
.operators:hover{
    background-color: rgba(255, 0, 0, 0.589);
}
.numbers{
    background-color: #89ABE3FF;
}
.numbers:hover{
    background-color: rgba(0, 0, 255, 0.507);
}
.equal-to{
    background-color: #234E70;
}
input{
    height: 2.4rem;
    width: 60%
}
#clear{
    margin-top: -5px;
    height: 2.4rem;
    border: 1px solid black
}

.btn{
    height: 2.8rem;
}